example_opencv
venv
.env
**/crop_data/*
ppt
**/*.jpg
**/*.mp4
**/__pycache__/
**/*.npz
**/test_images/**
**/model/backup/**
**/data/backup/**
.DS_Store
*.npz
data-pre-processing-training-model/data/data_images_100_100.pickle
